.App {
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
li {
  list-style: none;
}
.container .box {
  display: flex;
  flex-direction: table;
}
.container .box .box-cell.description {
  text-align: justify;
}

.container .box .box-cell.image {
  text-align: justify;
}

.description,
.image {
  display: inline-block;
  margin-top: 0;
}
.theForecast {
  margin-top: 0;
}
.item {
  font-weight: bold;
}
h3 {
  margin-bottom: 0;
}
ul {
  margin-top: 0;
}
h3 {
  text-decoration: underline;
}
